<form method="post" enctype="multipart/form-data" action="/Home/CreatePost">
    <label>Upload Img</label>
    <input name="PostImage" type="file" />
    <button type="submit">Save</button>
</form>

<div class="dropdown">
    <button class="dropdown-btn">Dropdown</button>
    <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
    </div>
</div>