﻿<ul>
    <li class="menu">
        <label for="show_sidebar">
            <span class="icon icon-menu">
            </span>
        </label>
    </li>
    <li class="friend">
        <span class="icon icon-users">
        </span>
    </li>
    <li class="messages">
        <span class="icon icon-mail3">
        </span>
    </li>
    <li class="notification">
        <span class="icon icon-bullhorn">
        </span>
    </li>
    <li class="search-link">
        <span class="icon icon-search">
        </span>
    </li>
</ul>