﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=false;">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <input type="checkbox" id="show_sidebar"/>
    <ul class="side_nav" data-component="sideNav">
        @{ Html.RenderPartial("_LeftSideNav");}
    </ul>
    <section class="site-container">
        <header data-component="header" class="header">
            @{Html.RenderPartial("_Header");}
        </header>
        @RenderBody()
        <div id="search" class="search" data-component="SearchComponent">
        </div>
    </section>
    <script src="/scripts/libs.js"></script>
    <script src="/scripts/app.js"></script>
</body>

</html>