﻿<li>
    <a href="#" class="icon-user">
    </a>
</li>
<li>
    <a href="#">
        <span class="icon-home"></span>
    </a>
</li>
<li>
    <a href="#">
        <span class="icon-messages"></span>
    </a>
</li>
<li>
    <a href="#">
        <span class="icon-gallary"></span>
    </a>
</li>
<li>
    <a href="#">
        <span class="icon-news"></span>
    </a>
</li>
<li>
    <a href="#">
        <span class="icon-settings"></span>
    </a>
</li>
<li>
    <a href="#">
        <span class="icon-clock"></span>
    </a>
</li>