<div class="post" data-component="post">
    <div class="post_header">
        {{From}}
    </div>
    <div class="post_content">
        {{Content.Data}}
    </div>
    <div class="post_footer">
    </div>
</div>