﻿@{
    ViewBag.Title = "Home Page";
}

<div data-component="WebSocketComponent" style="display:none"></div>
<div data-component="CreatePostComponent"></div>
<div name="posts" data-component="postComponent">
</div>