.header {
    background-color: $header_color;
    color: $header_font_color;
    overflow: auto;
    ul {
        list-style-type: none;
        li {
            padding: 10px 14px;
            display: inline-block;
            width: 19%;
            box-sizing: border-box;
            .icon {
                font-size: 28px;
                &.icon-mail3 {
                    font-size: 24px;
                }
            }
        }
    }
}