html{
    font-size:12px;
}
body{
    background-color:$site_color;
}

.site-container {
    position: relative;
    transition: .4s;
    background-color:$site_color;
    box-shadow: -2px 0px 7px $site_shadow_color;
    min-height: 100vh;
}