.search {
    display: none !important;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: $search_background_top_color;
    &.active {
        display: block !important;
    }
    &:before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        background-color: $search_background_color;
        opacity: 0.6;
        z-index: -1;
    }
    &-input {
        border: none;
        border-bottom: 1px solid;
    }
    &-submit {
        @extend .ripple;
    }
}