#show_sidebar {
    display: none;
}

#show_sidebar:checked~section {
    transform: translateX(7rem);
}

.side_nav {
    position: absolute;
    background: $sidebar_bg_color;
    width: 7rem;
    padding: 0px;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    font-size:3.5rem;
    li {
        @extend .ripple;
        list-style: none;
         :hover {
            background-color: $sidebar_hover_bg_color;
        }
        a {
            display: block;
            padding: 23px 20px;
            font-weight: 100;
            color: $sidebar_font_color;
            border-bottom: 1px solid $sidebar_border_color;
            text-decoration: none;
        }
    }
    .icon-user{
        @extend .icon;
        @extend .icon-user;
    }
    .icon-home{
        @extend .icon;
        @extend .icon-home;
        color:$sidebar_home_color;
    }
    .icon-gallary{
        @extend .icon;
        @extend .icon-clubs;
        color:$sidebar_gallary_color;
    }
    .icon-news{
        @extend .icon;
        @extend .icon-newspaper;
    }
    .icon-messages{
        @extend .icon;
        @extend .icon-mail4;
    }
    .icon-settings{
        @extend .icon;
        @extend .icon-cog;
    }
    .icon-clock{
        @extend .icon;
        @extend .icon-clock;
        color:$sidebar_clock_color;
    }
}