/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.ripple, .side_nav li, .search-submit {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.ripple:after, .side_nav li:after, .search-submit:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .2s, opacity .5s;
}
.ripple:active:after, .side_nav li:active:after, .search-submit:active:after {
  transform: scale(0, 0);
  opacity: .4;
  transition: 0s;
}

.material-btn, input[type=button],
input[type=submit],
button {
  position: relative;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #2ecc71;
  color: #ecf0f1;
  transition: background-color .3s;
}
.material-btn:hover, input[type=button]:hover,
input[type=submit]:hover,
button:hover, .material-btn:focus, input[type=button]:focus,
input[type=submit]:focus,
button:focus {
  background-color: #27ae60;
}
.material-btn > *, input[type=button] > *,
input[type=submit] > *,
button > * {
  position: relative;
}
.material-btn span, input[type=button] span,
input[type=submit] span,
button span {
  display: block;
  padding: 12px 24px;
}
.material-btn:before, input[type=button]:before,
input[type=submit]:before,
button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.material-btn:active:before, input[type=button]:active:before,
input[type=submit]:active:before,
button:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.shape-circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?j1im77");
  src: url("fonts/icomoon.eot?j1im77#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?j1im77") format("truetype"), url("fonts/icomoon.woff?j1im77") format("woff"), url("fonts/icomoon.svg?j1im77#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account_box:before {
  content: "\e851";
}

.icon-account_circle:before {
  content: "\e853";
}

.icon-add_a_photo:before {
  content: "\e439";
}

.icon-alarm_add:before {
  content: "\e856";
}

.icon-add_alert:before {
  content: "\e003";
}

.icon-control_point:before {
  content: "\e3ba";
}

.icon-alarm_off:before {
  content: "\e857";
}

.icon-alarm_on:before {
  content: "\e858";
}

.icon-apps:before {
  content: "\e5c3";
}

.icon-brightness_4:before {
  content: "\e3a9";
}

.icon-brightness_low:before {
  content: "\e1ad";
}

.icon-brightness_medium:before {
  content: "\e1ae";
}

.icon-brightness_high:before {
  content: "\e1ac";
}

.icon-brush:before {
  content: "\e3ae";
}

.icon-bubble_chart:before {
  content: "\e6dd";
}

.icon-phone:before {
  content: "\e0cd";
}

.icon-call_end:before {
  content: "\e0b1";
}

.icon-chat:before {
  content: "\e0b7";
}

.icon-chat_bubble:before {
  content: "\e0ca";
}

.icon-chat_bubble_outline:before {
  content: "\e0cb";
}

.icon-check:before {
  content: "\e5ca";
}

.icon-check_box:before {
  content: "\e834";
}

.icon-check_box_outline_blank:before {
  content: "\e835";
}

.icon-check_circle:before {
  content: "\e86c";
}

.icon-close:before {
  content: "\e5cd";
}

.icon-content_copy:before {
  content: "\e14d";
}

.icon-home:before, .side_nav .icon-home:before {
  content: "\e900";
}

.icon-home2:before {
  content: "\e901";
}

.icon-home3:before {
  content: "\e902";
}

.icon-office:before {
  content: "\e903";
}

.icon-newspaper:before, .side_nav .icon-news:before {
  content: "\e904";
}

.icon-pencil:before {
  content: "\e905";
}

.icon-pencil2:before {
  content: "\e906";
}

.icon-quill:before {
  content: "\e907";
}

.icon-pen:before {
  content: "\e908";
}

.icon-blog:before {
  content: "\e909";
}

.icon-eyedropper:before {
  content: "\e90a";
}

.icon-droplet:before {
  content: "\e90b";
}

.icon-paint-format:before {
  content: "\e90c";
}

.icon-image:before {
  content: "\e90d";
}

.icon-images:before {
  content: "\e90e";
}

.icon-camera:before {
  content: "\e90f";
}

.icon-headphones:before {
  content: "\e910";
}

.icon-music:before {
  content: "\e911";
}

.icon-play:before {
  content: "\e912";
}

.icon-film:before {
  content: "\e913";
}

.icon-video-camera:before {
  content: "\e914";
}

.icon-dice:before {
  content: "\e915";
}

.icon-pacman:before {
  content: "\e916";
}

.icon-spades:before {
  content: "\e917";
}

.icon-clubs:before, .side_nav .icon-gallary:before {
  content: "\e918";
}

.icon-diamonds:before {
  content: "\e919";
}

.icon-bullhorn:before {
  content: "\e91a";
}

.icon-connection:before {
  content: "\e91b";
}

.icon-podcast:before {
  content: "\e91c";
}

.icon-feed:before {
  content: "\e91d";
}

.icon-mic:before {
  content: "\e91e";
}

.icon-book:before {
  content: "\e91f";
}

.icon-books:before {
  content: "\e920";
}

.icon-library:before {
  content: "\e921";
}

.icon-file-text:before {
  content: "\e922";
}

.icon-profile:before {
  content: "\e923";
}

.icon-file-empty:before {
  content: "\e924";
}

.icon-files-empty:before {
  content: "\e925";
}

.icon-file-text2:before {
  content: "\e926";
}

.icon-file-picture:before {
  content: "\e927";
}

.icon-file-music:before {
  content: "\e928";
}

.icon-file-play:before {
  content: "\e929";
}

.icon-file-video:before {
  content: "\e92a";
}

.icon-file-zip:before {
  content: "\e92b";
}

.icon-copy:before {
  content: "\e92c";
}

.icon-paste:before {
  content: "\e92d";
}

.icon-stack:before {
  content: "\e92e";
}

.icon-folder:before {
  content: "\e92f";
}

.icon-folder-open:before {
  content: "\e930";
}

.icon-folder-plus:before {
  content: "\e931";
}

.icon-folder-minus:before {
  content: "\e932";
}

.icon-folder-download:before {
  content: "\e933";
}

.icon-folder-upload:before {
  content: "\e934";
}

.icon-price-tag:before {
  content: "\e935";
}

.icon-price-tags:before {
  content: "\e936";
}

.icon-barcode:before {
  content: "\e937";
}

.icon-qrcode:before {
  content: "\e938";
}

.icon-ticket:before {
  content: "\e939";
}

.icon-cart:before {
  content: "\e93a";
}

.icon-phone2:before {
  content: "\e942";
}

.icon-phone-hang-up:before {
  content: "\e943";
}

.icon-address-book:before {
  content: "\e944";
}

.icon-location:before {
  content: "\e947";
}

.icon-location2:before {
  content: "\e948";
}

.icon-compass:before {
  content: "\e949";
}

.icon-compass2:before {
  content: "\e94a";
}

.icon-map:before {
  content: "\e94b";
}

.icon-map2:before {
  content: "\e94c";
}

.icon-history:before {
  content: "\e94d";
}

.icon-clock:before, .side_nav .icon-clock:before {
  content: "\e94e";
}

.icon-clock2:before {
  content: "\e94f";
}

.icon-alarm:before {
  content: "\e950";
}

.icon-bell:before {
  content: "\e951";
}

.icon-stopwatch:before {
  content: "\e952";
}

.icon-calendar:before {
  content: "\e953";
}

.icon-keyboard:before {
  content: "\e955";
}

.icon-display:before {
  content: "\e956";
}

.icon-laptop:before {
  content: "\e957";
}

.icon-mobile:before {
  content: "\e958";
}

.icon-mobile2:before {
  content: "\e959";
}

.icon-tv:before {
  content: "\e95b";
}

.icon-box-add:before {
  content: "\e95e";
}

.icon-box-remove:before {
  content: "\e95f";
}

.icon-floppy-disk:before {
  content: "\e962";
}

.icon-drive:before {
  content: "\e963";
}

.icon-database:before {
  content: "\e964";
}

.icon-undo:before {
  content: "\e965";
}

.icon-redo:before {
  content: "\e966";
}

.icon-undo2:before {
  content: "\e967";
}

.icon-redo2:before {
  content: "\e968";
}

.icon-forward:before {
  content: "\e969";
}

.icon-reply:before {
  content: "\e96a";
}

.icon-bubble:before {
  content: "\e96b";
}

.icon-bubbles:before {
  content: "\e96c";
}

.icon-bubbles2:before {
  content: "\e96d";
}

.icon-bubble2:before {
  content: "\e96e";
}

.icon-bubbles3:before {
  content: "\e96f";
}

.icon-bubbles4:before {
  content: "\e970";
}

.icon-user:before, .side_nav .icon-user:before {
  content: "\e971";
}

.icon-users:before {
  content: "\e972";
}

.icon-user-plus:before {
  content: "\e973";
}

.icon-user-minus:before {
  content: "\e974";
}

.icon-user-check:before {
  content: "\e975";
}

.icon-user-tie:before {
  content: "\e976";
}

.icon-spinner2:before {
  content: "\e97b";
}

.icon-spinner8:before {
  content: "\e981";
}

.icon-spinner9:before {
  content: "\e982";
}

.icon-spinner10:before {
  content: "\e983";
}

.icon-spinner11:before {
  content: "\e984";
}

.icon-binoculars:before {
  content: "\e985";
}

.icon-search:before {
  content: "\e986";
}

.icon-zoom-in:before {
  content: "\e987";
}

.icon-zoom-out:before {
  content: "\e988";
}

.icon-enlarge:before {
  content: "\e989";
}

.icon-shrink:before {
  content: "\e98a";
}

.icon-enlarge2:before {
  content: "\e98b";
}

.icon-shrink2:before {
  content: "\e98c";
}

.icon-key:before {
  content: "\e98d";
}

.icon-key2:before {
  content: "\e98e";
}

.icon-lock:before {
  content: "\e98f";
}

.icon-unlocked:before {
  content: "\e990";
}

.icon-wrench:before {
  content: "\e991";
}

.icon-equalizer:before {
  content: "\e992";
}

.icon-equalizer2:before {
  content: "\e993";
}

.icon-cog:before, .side_nav .icon-settings:before {
  content: "\e994";
}

.icon-cogs:before {
  content: "\e995";
}

.icon-hammer:before {
  content: "\e996";
}

.icon-bug:before {
  content: "\e999";
}

.icon-pie-chart:before {
  content: "\e99a";
}

.icon-stats-bars:before {
  content: "\e99c";
}

.icon-stats-bars2:before {
  content: "\e99d";
}

.icon-trophy:before {
  content: "\e99e";
}

.icon-gift:before {
  content: "\e99f";
}

.icon-glass:before {
  content: "\e9a0";
}

.icon-glass2:before {
  content: "\e9a1";
}

.icon-mug:before {
  content: "\e9a2";
}

.icon-spoon-knife:before {
  content: "\e9a3";
}

.icon-leaf:before {
  content: "\e9a4";
}

.icon-rocket:before {
  content: "\e9a5";
}

.icon-meter:before {
  content: "\e9a6";
}

.icon-lab:before {
  content: "\e9aa";
}

.icon-bin:before {
  content: "\e9ac";
}

.icon-bin2:before {
  content: "\e9ad";
}

.icon-briefcase:before {
  content: "\e9ae";
}

.icon-accessibility:before {
  content: "\e9b2";
}

.icon-switch:before {
  content: "\e9b6";
}

.icon-clipboard:before {
  content: "\e9b8";
}

.icon-list-numbered:before {
  content: "\e9b9";
}

.icon-list:before {
  content: "\e9ba";
}

.icon-list2:before {
  content: "\e9bb";
}

.icon-tree:before {
  content: "\e9bc";
}

.icon-menu:before {
  content: "\e9bd";
}

.icon-cloud:before {
  content: "\e9c1";
}

.icon-cloud-download:before {
  content: "\e9c2";
}

.icon-cloud-upload:before {
  content: "\e9c3";
}

.icon-cloud-check:before {
  content: "\e9c4";
}

.icon-download2:before {
  content: "\e9c5";
}

.icon-upload2:before {
  content: "\e9c6";
}

.icon-download3:before {
  content: "\e9c7";
}

.icon-upload3:before {
  content: "\e9c8";
}

.icon-sphere:before {
  content: "\e9c9";
}

.icon-earth:before {
  content: "\e9ca";
}

.icon-link:before {
  content: "\e9cb";
}

.icon-flag:before {
  content: "\e9cc";
}

.icon-attachment:before {
  content: "\e9cd";
}

.icon-bookmark:before {
  content: "\e9d2";
}

.icon-bookmarks:before {
  content: "\e9d3";
}

.icon-sun:before {
  content: "\e9d4";
}

.icon-contrast:before {
  content: "\e9d5";
}

.icon-brightness-contrast:before {
  content: "\e9d6";
}

.icon-star-empty:before {
  content: "\e9d7";
}

.icon-star-half:before {
  content: "\e9d8";
}

.icon-star-full:before {
  content: "\e9d9";
}

.icon-heart:before {
  content: "\e9da";
}

.icon-heart-broken:before {
  content: "\e9db";
}

.icon-man:before {
  content: "\e9dc";
}

.icon-woman:before {
  content: "\e9dd";
}

.icon-man-woman:before {
  content: "\e9de";
}

.icon-happy:before {
  content: "\e9df";
}

.icon-happy2:before {
  content: "\e9e0";
}

.icon-smile:before {
  content: "\e9e1";
}

.icon-smile2:before {
  content: "\e9e2";
}

.icon-tongue:before {
  content: "\e9e3";
}

.icon-tongue2:before {
  content: "\e9e4";
}

.icon-sad:before {
  content: "\e9e5";
}

.icon-sad2:before {
  content: "\e9e6";
}

.icon-wink:before {
  content: "\e9e7";
}

.icon-wink2:before {
  content: "\e9e8";
}

.icon-grin:before {
  content: "\e9e9";
}

.icon-grin2:before {
  content: "\e9ea";
}

.icon-cool:before {
  content: "\e9eb";
}

.icon-cool2:before {
  content: "\e9ec";
}

.icon-angry:before {
  content: "\e9ed";
}

.icon-angry2:before {
  content: "\e9ee";
}

.icon-evil:before {
  content: "\e9ef";
}

.icon-evil2:before {
  content: "\e9f0";
}

.icon-shocked:before {
  content: "\e9f1";
}

.icon-shocked2:before {
  content: "\e9f2";
}

.icon-baffled:before {
  content: "\e9f3";
}

.icon-baffled2:before {
  content: "\e9f4";
}

.icon-confused:before {
  content: "\e9f5";
}

.icon-confused2:before {
  content: "\e9f6";
}

.icon-neutral:before {
  content: "\e9f7";
}

.icon-neutral2:before {
  content: "\e9f8";
}

.icon-hipster:before {
  content: "\e9f9";
}

.icon-hipster2:before {
  content: "\e9fa";
}

.icon-wondering:before {
  content: "\e9fb";
}

.icon-wondering2:before {
  content: "\e9fc";
}

.icon-sleepy:before {
  content: "\e9fd";
}

.icon-sleepy2:before {
  content: "\e9fe";
}

.icon-frustrated:before {
  content: "\e9ff";
}

.icon-frustrated2:before {
  content: "\ea00";
}

.icon-crying:before {
  content: "\ea01";
}

.icon-crying2:before {
  content: "\ea02";
}

.icon-point-up:before {
  content: "\ea03";
}

.icon-point-right:before {
  content: "\ea04";
}

.icon-point-down:before {
  content: "\ea05";
}

.icon-point-left:before {
  content: "\ea06";
}

.icon-warning:before {
  content: "\ea07";
}

.icon-notification:before {
  content: "\ea08";
}

.icon-question:before {
  content: "\ea09";
}

.icon-plus:before {
  content: "\ea0a";
}

.icon-minus:before {
  content: "\ea0b";
}

.icon-info:before {
  content: "\ea0c";
}

.icon-cancel-circle:before {
  content: "\ea0d";
}

.icon-blocked:before {
  content: "\ea0e";
}

.icon-cross:before {
  content: "\ea0f";
}

.icon-checkmark:before {
  content: "\ea10";
}

.icon-checkmark2:before {
  content: "\ea11";
}

.icon-spell-check:before {
  content: "\ea12";
}

.icon-play3:before {
  content: "\ea1c";
}

.icon-pause2:before {
  content: "\ea1d";
}

.icon-stop2:before {
  content: "\ea1e";
}

.icon-backward2:before {
  content: "\ea1f";
}

.icon-forward3:before {
  content: "\ea20";
}

.icon-first:before {
  content: "\ea21";
}

.icon-last:before {
  content: "\ea22";
}

.icon-previous2:before {
  content: "\ea23";
}

.icon-next2:before {
  content: "\ea24";
}

.icon-eject:before {
  content: "\ea25";
}

.icon-volume-high:before {
  content: "\ea26";
}

.icon-volume-medium:before {
  content: "\ea27";
}

.icon-volume-low:before {
  content: "\ea28";
}

.icon-volume-mute:before {
  content: "\ea29";
}

.icon-volume-mute2:before {
  content: "\ea2a";
}

.icon-volume-increase:before {
  content: "\ea2b";
}

.icon-volume-decrease:before {
  content: "\ea2c";
}

.icon-loop:before {
  content: "\ea2d";
}

.icon-loop2:before {
  content: "\ea2e";
}

.icon-infinite:before {
  content: "\ea2f";
}

.icon-shuffle:before {
  content: "\ea30";
}

.icon-arrow-up-left:before {
  content: "\ea31";
}

.icon-arrow-up:before {
  content: "\ea32";
}

.icon-arrow-up-right:before {
  content: "\ea33";
}

.icon-arrow-right:before {
  content: "\ea34";
}

.icon-arrow-down-right:before {
  content: "\ea35";
}

.icon-arrow-down:before {
  content: "\ea36";
}

.icon-arrow-down-left:before {
  content: "\ea37";
}

.icon-checkbox-checked:before {
  content: "\ea52";
}

.icon-checkbox-unchecked:before {
  content: "\ea53";
}

.icon-radio-checked:before {
  content: "\ea54";
}

.icon-radio-checked2:before {
  content: "\ea55";
}

.icon-radio-unchecked:before {
  content: "\ea56";
}

.icon-mail2:before {
  content: "\ea84";
}

.icon-mail3:before {
  content: "\ea85";
}

.icon-mail4:before, .side_nav .icon-messages:before {
  content: "\ea86";
}

.icon-google:before {
  content: "\ea88";
}

.icon-google3:before {
  content: "\ea8a";
}

.icon-google-plus:before {
  content: "\ea8b";
}

.icon-google-plus2:before {
  content: "\ea8c";
}

.icon-google-plus3:before {
  content: "\ea8d";
}

.icon-hangouts:before {
  content: "\ea8e";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-facebook2:before {
  content: "\ea91";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-whatsapp:before {
  content: "\ea93";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-dribbble:before {
  content: "\eaa7";
}

.icon-file-pdf:before {
  content: "\eadf";
}

.icon-libreoffice:before {
  content: "\eae3";
}

input[type=button],
input[type=submit],
button {
  height: 4rem;
  width: 8rem;
}

input[type="text"] {
  display: block;
  font-size: 1.2rem;
  height: 2rem;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus {
  outline: none;
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.dropdown-btn {
  background-color: #4caf50;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-btn {
  background-color: #3e8e41;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

html {
  font-size: 12px;
}

body {
  background-color: #278760;
}

.site-container {
  position: relative;
  transition: .4s;
  background-color: #278760;
  box-shadow: -2px 0px 7px #000;
  min-height: 100vh;
}

.header {
  background-color: #16a085;
  color: white;
  overflow: auto;
}
.header ul {
  list-style-type: none;
}
.header ul li {
  padding: 10px 14px;
  display: inline-block;
  width: 19%;
  box-sizing: border-box;
}
.header ul li .icon, .header ul li .side_nav .icon-user, .side_nav .header ul li .icon-user, .header ul li .side_nav .icon-home, .side_nav .header ul li .icon-home, .header ul li .side_nav .icon-gallary, .side_nav .header ul li .icon-gallary, .header ul li .side_nav .icon-news, .side_nav .header ul li .icon-news, .header ul li .side_nav .icon-messages, .side_nav .header ul li .icon-messages, .header ul li .side_nav .icon-settings, .side_nav .header ul li .icon-settings, .header ul li .side_nav .icon-clock, .side_nav .header ul li .icon-clock {
  font-size: 28px;
}
.header ul li .icon.icon-mail3, .header ul li .side_nav .icon-mail3.icon-user, .side_nav .header ul li .icon-mail3.icon-user, .header ul li .side_nav .icon-mail3.icon-home, .side_nav .header ul li .icon-mail3.icon-home, .header ul li .side_nav .icon-mail3.icon-gallary, .side_nav .header ul li .icon-mail3.icon-gallary, .header ul li .side_nav .icon-mail3.icon-news, .side_nav .header ul li .icon-mail3.icon-news, .header ul li .side_nav .icon-mail3.icon-messages, .side_nav .header ul li .icon-mail3.icon-messages, .header ul li .side_nav .icon-mail3.icon-settings, .side_nav .header ul li .icon-mail3.icon-settings, .header ul li .side_nav .icon-mail3.icon-clock, .side_nav .header ul li .icon-mail3.icon-clock {
  font-size: 24px;
}

#show_sidebar {
  display: none;
}

#show_sidebar:checked ~ section {
  transform: translateX(7rem);
}

.side_nav {
  position: absolute;
  background: teal;
  width: 7rem;
  padding: 0px;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  font-size: 3.5rem;
}
.side_nav li {
  list-style: none;
}
.side_nav li :hover {
  background-color: #16a085;
}
.side_nav li a {
  display: block;
  padding: 23px 20px;
  font-weight: 100;
  color: #ecf0f1;
  border-bottom: 1px solid #95a5a6;
  text-decoration: none;
}
.side_nav .icon-home {
  color: lightskyblue;
}
.side_nav .icon-gallary {
  color: orange;
}
.side_nav .icon-clock {
  color: yellow;
}

.search {
  display: none !important;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}
.search.active {
  display: block !important;
}
.search:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #000;
  opacity: 0.6;
  z-index: -1;
}
.search-input {
  border: none;
  border-bottom: 1px solid;
}

/*# sourceMappingURL=site.css.map */
