//site
$site_color:rgb(39, 135, 96);
$site_shadow_color:#000;

//header
$header_color:#16a085;
$header_font_color:white;

//sidebar
$sidebar_bg_color:teal;
$sidebar_hover_bg_color:#16a085;
$sidebar_font_color:#ecf0f1;
$sidebar_border_color:#95a5a6;
$sidebar_home_color:lightskyblue;;
$sidebar_gallary_color:orange;
$sidebar_clock_color:yellow;

//search
$search_background_color:#000;
$search_background_top_color:transparent;

//dropdown
$dropdown_button_bg_color: #4caf50;
$dropdown_button_bg_focus_color: #3e8e41;
$dropdown_box_shadow: rgba(0, 0, 0, 0.2);
$dropdown_items_bg_color: #f9f9f9;
$dropdown_items_bg_hover_color: #f1f1f1; 

//material button color
$black_60: rgba(0, 0, 0, 0.6);
$color_emerald_approx: #2ecc71;
$color_athens_gray_approx: #ecf0f1;
$color_athens_gray_30_approx: rgba(236, 240, 241, 0.3);