.dropdown-btn {
    background-color: $dropdown_button_bg_color;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    &:hover {
        .dropdown-content {
            display: block;
        }
        .dropdown-btn {
            background-color: $dropdown_button_bg_focus_color;
        }
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $dropdown_items_bg_color;
    min-width: 160px;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 8px 16px 0 $dropdown_box_shadow;
    z-index: 1;
    a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &:hover {
            background-color: $dropdown_items_bg_hover_color;
        }
    }
}