//Buttons
input[type=button],
input[type=submit],
button {
    @extend .material-btn;
    height: 4rem;
    width: 8rem;
}

//input text
input[type="text"] {
    display: block;
    font-size: 1.2rem;
    height: 2rem;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus {
    outline: none;
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}